<div class="grid">
  <img class="ranger" src="/img/ranger.png" alt="Imagem da ranger" />

  <div class="logo-bg">
    <img class="logo" src="/img/ford.png" alt="Imagem da logo da ford" />
    <h2>Boas-vindas</h2>
    <div class="forms">
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuario</label>
          <input
            name="nome"
            type="email"
            class="form-control"
            id="nome"
            [(ngModel)]="usuario.nome"
            aria-describedby="emailHelp"
          />
          <small id="emailHelp" class="form-text text-muted"
            >Nunca compartilharemos seu e-mail com mais ninguém.</small
          >
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input
            name="senha"
            type="password"
            class="form-control"
            id="senha"
            [(ngModel)]="usuario.senha"
          />
        </div>

        <div class="enter">
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Lembre-me</label
            >
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
